<div id="skillsDiv">
    <img class="assetsCategories" src="assets/undraw_developer_activity_re_39tg.svg" alt="">
    <h2>My Skills</h2>
    <div id="stacksDiv">

        <p>lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

        <div class="stacks stacksTop">
            <div class="borderStackSvg"><img class="stackSvg" src="assets/angular.svg" alt="angular"></div>
            <div class="borderStackSvg"><img class="stackSvg" src="assets/microsoft-dot-net.svg" alt=".net"></div>
            <div class="borderStackSvg"><img class="stackSvg" src="assets/sql.svg" alt="sql"></div>
         </div>
         <div class="stacks stacksBottom">
            <div class="borderStackSvg"><img class="stackSvg" src="assets/docker.svg" alt="docker"></div>
            <div class="borderStackSvg"><img id="awsSvg" class="stackSvg" src="assets/aws.svg" alt="aws"></div>
         </div>

    </div>
</div>