footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #007acc;
}

#footerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #007acc;
}

#footerContent {
    padding: 80px;
}

#redesSociais {
    padding: 20px;
}

footer img {
    color: black;
}

footer img:hover {
    filter: invert(100%) sepia(0%) saturate(7463%) hue-rotate(42deg) brightness(99%) contrast(113%);
}
