#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 20px 100px 70px 100px;
}

#icone-inicial {
    width: 60px;
    filter: invert(28%) sepia(99%) saturate(1195%) hue-rotate(181deg) brightness(102%) contrast(101%);
}

#botaoContato {
    color: #007acc;
    border: solid #007acc 2px;
    border-radius: 25px;
    text-decoration: none;
    padding: 10px;
    transition: 0.4s;
}

#botaoContato:hover {
    background: #007acc;
    color: #fff;
}

header h3 {
    margin: 0px;
}