<footer>
    <div id="footerDiv">
        <div>
            <a href="https://github.com/gabrielplhrs"><img id="githubSvg" class="footerIcons" src="assets/github.svg" alt="github"></a>
            <a href="https://www.linkedin.com/in/gabriel-pizzani-palhares/"><img id="linkedinSvg" class="footerIcons" src="assets/linkedin.svg" alt="linkedin"></a>
            <a href="https://twitter.com/gabrielplhrs"><img id="twitterSvg" class="footerIcons" src="assets/twitter.svg" alt="twitter"></a>
            <a href="https://www.youtube.com/channel/UCMdYF7cX7sL5hXBlMkTGJvw"><img id="youtubeSvg" class="footerIcons" src="assets/youtube.svg" alt="youtube"></a>
        </div>
    </div>
</footer>