<div id="contactDiv">
    <img class="assetsCategories" src="assets/undraw_personal_text_re_vqj3.svg" alt="">
    <h2>Contact Me</h2>
    <p>Send me a propose or suggestion</p>
    <form action="">
        <input class="contactInput" id="nameInput" type="text" placeholder="Name">
        <input class="contactInput" id="emailInput" type="email" placeholder="Email">
        <input class="contactInput" id="messageInput" type="text" placeholder="Hello!">
        <button type="submit" id="buttonContact">Send</button>
    </form>
</div>